<?xml version="1.0" encoding="UTF-8" ?>
<widget 
    xmlns = "http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id        = "co.sonaya.localizador"
    version   = "1.9.0">

<name>Localizador</name>

<description>
Localizador y notificacion de posicion
</description>

<author href="https://www.sonaya.co" email="info.sonaya@gmail.com">
Alejandro V. Carvajal (HowerCraft).
</author>

<content src="index.html" />
<access origin="*" />
<preference name="phonegap-version" value="cli-5.2.0" />

gap:plugin name="org.apache.cordova.battery-status" source="npm" />
gap:plugin name="org.apache.cordova.camera" source="npm" />
gap:plugin name="org.apache.cordova.media-capture" source="npm" />
gap:plugin name="org.apache.cordova.console" source="npm" />
gap:plugin name="org.apache.cordova.contacts" source="npm"/>
gap:plugin name="org.apache.cordova.device" source="npm"/>
gap:plugin name="org.apache.cordova.device-motion" source="npm"/>
gap:plugin name="org.apache.cordova.device-orientation" source="npm"/>
gap:plugin name="org.apache.cordova.dialogs" source="npm"/>
gap:plugin name="org.apache.cordova.file" source="npm" />
gap:plugin name="org.apache.cordova.file-transfer" source="npm"/>
gap:plugin name="org.apache.cordova.geolocation" source="npm"/>
gap:plugin name="org.apache.cordova.globalization" source="npm"/>
gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
gap:plugin name="org.apache.cordova.media" source="npm" />
gap:plugin name="org.apache.cordova.network-information" source="npm" />
gap:plugin name="org.apache.cordova.splashscreen" source="npm"/>
gap:plugin name="org.apache.cordova.vibration" source="npm" /> 


</widget>
